.App {
  text-align: center;
}

.App-logo {
  height: 4%;
  width: 4%;
  text-align: center;
  pointer-events: none;
  align-items: center;
}

.All-generic_components {
  display: flex;
}

.Top-tabs {
  width: 5%;
  height: 5%;
  margin: 0;
  display: flex;
 }

 .All-generic_components.Top-tabs {
  display: flex;
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
